In [27]:
from os import listdir
from os.path import isfile, join
import pandas as pd

TEMP_DIRECTORY_PATH = "temp/"

def get_capital_one_dataframe(csv):
    df = pd.read_csv(csv, encoding='latin-1')

    return df

In [28]:

temp_files = [f for f in listdir(TEMP_DIRECTORY_PATH) if isfile(join(TEMP_DIRECTORY_PATH, f))]
csv_files = [s for s in temp_files if s.endswith('.csv')]

transactions_df = pd.DataFrame()

for file in csv_files:
    df = get_capital_one_dataframe(TEMP_DIRECTORY_PATH + file)
    transactions_df = pd.concat([transactions_df, df])


transactions_df = transactions_df.dropna(subset=['Debit'])

print('Transactions Dataframe:')
transactions_df.drop('Posted Date', axis=1, inplace=True)
transactions_df.drop('Transaction Date', axis=1, inplace=True)
transactions_df.drop('Card No.', axis=1, inplace=True)
transactions_df.drop('Debit', axis=1, inplace=True)
transactions_df.drop('Credit', axis=1, inplace=True)

# Clean up for categories
transactions_df['Description'] = transactions_df['Description'].str.replace('[\d#]+', '', regex=True)
transactions_df = transactions_df.drop_duplicates()

transactions_df = transactions_df.sort_values(by=['Category', 'Description'])


display(transactions_df)
transactions_df['Description'] = transactions_df['Description'].str.lower()
transactions_df['Category'] = transactions_df['Category'].str.lower()

transactions_df.to_csv('output.csv', index=False)

Transactions Dataframe:

/var/folders/pn/s1ll87dd4vx41fmwssbn2xm80000gn/T/ipykernel_6770/2068292605.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  transactions_df = pd.concat([transactions_df, df])

                Description               Category
773              AMERICAN                  Airfare
99     GEORGIAN AIRWAYS LTD                Airfare
100                 LUFTHAN                Airfare
2                LUFTHAN                   Airfare
358   RYANAIR   MKERE                      Airfare
..                      ...                    ...
230         www.headout.com           Other Travel
127     TMOBILE*PREPAID WEB            Phone/Cable
176      ETSY.COM - IKECHOP  Professional Services
194  SumUp  *M.A.C.- Hoffma  Professional Services
220                     TIP  Professional Services

[709 rows x 2 columns]